<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="flex items-center justify-between pb-6 border-b dark:border-zinc-700 border-zinc-200">
    <% if @study_group %>
      <h1 class="text-4xl font-medium font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Ученики из <%= @students.first.study_group.name %></h1>
    <% else %>
      <h1 class="text-2xl font-medium font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">В этом классе пока нет учеников</h1>
    <% end %>
    <div class="flex items-center justify-end">
      <%= link_to "Добавить ученика", new_student_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div id="students" class="divide-y divide-zinc-200 dark:divide-zinc-700">
    <%= render @students %>
  </div>
</div>
