<article id="<%= dom_id school %>" class="py-6 prose prose-zinc dark:prose-invert">
  <p class="mb-0 font-heading font-medium">
    Название школы
  </p>
  <p class="my-0">
    <%= school.name %>
  </p>
      
  <p>
    <%= link_to "Посмотреть эту школу", school, class: "underline" %>
  </p>
</article>
