<li>
  <%= nav_link_to "Школы", schools_path, class: "nav-link" %>
</li>

<li>
  <%= nav_link_to "Классы", study_groups_path, class: "nav-link" %>
</li>

<li>
  <%= nav_link_to "Ученики", students_path, class: "nav-link" %>
</li>

